:root {
  //   --tg-theme-bg-color: #f2f2f2; /* Основной фоновый цвет */
  //   --tg-theme-text-primary: #222; /* Основной цвет текста */
  //   --tg-theme-text-secondary: #333; /* Вторичный цвет текста */
  --tg-theme-text-placeholder: #888; /* Цвет placeholder'а */
  // --tg-theme-button-primary: #0084ff; /* Основной цвет кнопки */
  // --tg-theme-button-primary-hover: #006acc; /* Hover-эффект кнопки */
  --tg-theme-border-color: #ddd; /* Цвет границы */
  --tg-theme-error-color: #d9534f; /* Цвет ошибок */
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: start;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--tg-theme-bg-color);
}

ul {
  list-style-type: none;
  padding-left: 0px;
}
label {
  display: block;
}
.header {
  text-align: center;
  margin: 10px 0;
}
.container {
  min-height: 100vh;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 400px;
  max-width: 90%;
  color: var(--tg-theme-text-color);
}

h1,
h2,
h3,
h5,
h6 {
  font-weight: 500;
  text-align: center;
}

/* Форма */
form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input,
select,
textarea,
option {
  padding: 10px;
  border: 1px solid var(--tg-theme-border-color);
  border-radius: 4px;
  margin-bottom: 10px;
  font-size: 16px;
  color: var(--tg-theme-bg-color);
}

input::placeholder,
textarea::placeholder {
  color: var(--tg-theme-text-placeholder);
}

button[type="submit"] {
  background-color: var(--tg-theme-button-color);
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  color: var(--tg-theme-button-text-color);
}

button[type="submit"]:hover {
  background-color: var(--tg-theme-button-primary-hover);
}

/* Ошибки */
.error {
  color: var(--tg-theme-error-color);
  margin-bottom: 10px;
  font-size: 14px;
}

/* Мобильные стили */
@media (max-width: 600px) {
  .container {
    width: 90%;
  }
}
